.idea/
.DS_Store
cmake-build-debug-coverage/
cmake-build-debug/
.gitattributes
*.cmake
*.txt
*.bin
*.c
*.o
*.json
*.d
*.make
*.marks
*.log
results/CMakeFiles/3.20.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.internal
*.ts
results/CMakeFiles/Makefile2
results/Makefile
results/MT_MAPF
